/* Garantir que o html e o body ocupem 100% da altura */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Container principal que utiliza flexbox para organizar o layout */
body {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

/* Conteúdo flexível que pode crescer */
.container {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 400px;
    text-align: center;
    margin: 20px auto;
    flex-grow: 1; /* Faz o container crescer conforme necessário */
}

/* Cabeçalho */
h1 {
    margin-bottom: 20px;
}

/* Estilos para o input e o botão */
input {
    padding: 10px;
    width: calc(100% - 20px); /* Deixar espaço nas bordas */
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background: darkgreen;
}

/* Lista de tarefas */
ul {
    list-style: none;
    padding: 0;
    max-height: 300px; /* Define um tamanho máximo, para evitar a lista crescer indefinidamente */
    overflow-y: auto; /* Permite rolagem vertical caso a lista cresça */
}

li {
    background: #f4f4f4;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li button {
    background: red;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    border-radius: 5px;
}

li button:hover {
    background: red;
}

/* Rodapé fixo ao final da página */
.footer {
    text-align: center;
    padding: 10px;
    background-color: #343a40;
    color: lightgray;
    width: 100%;
    position: relative;
    margin-top: auto; /* Empurra o rodapé para o final da página */
}

.social-links {
    margin-bottom: 10px;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #333;
    margin: 0 5px;
}
